.App {
  display: flex;
  justify-content: center;
 
  min-height: 100vh;
  min-width: 100vw;
  
  }

.buttonwrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

td, th{

  text-align: left;
  padding: 5px; 
}