


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

:root {
  --primary-color: #f00;
  --base: #1E213A;
  --base-100: #100E1D;

}



.container {
  position: absolute;
  width: 900px;
  padding: 2%;
  padding-left: 13%;
  padding-right: 5%;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.sidebar {
  padding: 2%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--base);
  justify-content: space-between;
  align-items: center;
}

.searchpannel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbutton {
padding-left: 0;
@import
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat&family=Space+Mono&display=swap" rel="stylesheet">
CSS rules to specify families

font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 6px;
  line-height: 1rem;
  color: #E7E7EB;
  width: 80px;
  height: 20px;
}

.sideicon{
 width:100px;
 padding-left: 40%;
color: #E7E7EB;
}
.tempinfo     {
color: #E7E7EB;
font-size: 50px;
}

.tempstatus{
   color: #E7E7EB;
}

.date{
  color: #E7E7EB;
}

.location{
  color: #E7E7EB;
}
.dashboard {
  padding: 3%;
  flex: 3;
  background: var(--base-100);
  display: flex;
  flex-direction: column;
  padding-bottom: 0;  
  justify-content: space-between;
}


.tempbutton {
padding-top: 1%;
  padding-bottom: 10px;

}

.celcius {
  margin-top: 0px;
  margin-left: 380px;
  font-family: 'Inconsolata', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 21px;
  color: #110E3C;
  border-radius: 50%;
}


.fehrenite {
  border-radius: 50%;
  background:#110E3C;
  font-family: 'Inconsolata', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #E7E7EB;

}

.cards {
  padding-bottom: 4%;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;

  justify-content: space-evenly;
  width: 100%;
  height: 100%;
gap: 20;
}

.c1 {
  height:90px ;
padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 11px;
  background: #1E213A;
  color: #E7E7EB;

}

.c2{
  height:90px ;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 11px;
  background: #1E213A;
  color: #E7E7EB;

}

.c3 {
  height:90px ;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
  background: #1E213A;
  color: #E7E7EB;
 
}

.c4 {
  height:90px ;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
  background: #1E213A;
  color: #E7E7EB;
}

.c5 {
  height:90px ;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
  background: #1E213A;
  color: #E7E7EB;
}


.temptr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.max_temp{
  font-size: 9px;
}
.min_temp{
  font-size: 7px;
}

.highlight_info{
  padding-top:1% ;
  padding-left: 11%;
  padding-right: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.highlight{
   
  color: #E7E7EB;
  font-size: 12px;
}

.wh{
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.va{
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.windstatus{
  padding-top: 3%;
  width: 160px;
  height:100px ;
background: #1E213A;
color: #E7E7EB;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.w1{
  font-size: 10px;

}
.w2{
  display: flex;

}
.w3{
  font-size:10px ;
}
.mph{
  font-weight: 400;
  padding-left: 6%;
  padding-top: 18%;
}

.humidity{
  padding-top: 4%;
  width: 160px;
  height:100px ;
  background: #1E213A;
  color: #E7E7EB;
  display: flex;
flex-direction: column;
align-items: center;
}

.h1{
  padding-bottom: 2%;
  font-size:10px ;
}
 .h2{
  font-weight: 700;
  font-size:30px 
 }
.visibility{
  padding: 2%;
  background: #1E213A;
  color: #E7E7EB;
  width: 160px;
  height:70px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.v1{
    
   font-size:10px ;
  }
  .v2{
    display: flex;
  }
 
.miles{
  font-weight: 400;
  padding-left: 6%;
  padding-top: 15%; 
}

.Airpressure{
  padding: 2%;
  background: #1E213A;
  color: #E7E7EB;
  width: 160px;
  height:70px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.a1{
  font-size:10px ;
}
.a2{
  display: flex ;
}

.mb{
  font-weight: 400;
  padding-left: 6%;
  padding-top: 18%;
}
.footer{
  padding-top: 10%;
  padding-left: 32%;
  color: #E7E7EB;
}